.card {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(100% - 10px);
  min-height: calc(1.4 * 90vw);
  margin-bottom: 20px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 1.4rem;
  font-weight: 600;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vaccinationKind {
  font-size: 1.4rem;
  float: right;
}

.card-comirnaty {
  background: #89F59B;
}
.card-spikevax {
  background: #F5899F;
}
.card-vaxzevria {
  background: #BAC6F5;
}
.card-janssen {
  background: #F5DC95;
}
.card-other {
  background: #EEEEEE;
}

.properties {
  margin-top: 10px;
}
.propName {
  margin-left: 10px;
  font-weight: bold;
}
.propValue {
  margin-right: 10px;
  float: right;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons button {
  margin: 10px 5px;
}

.qrCode {
  max-width: 100%;
}
