.previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.preview {
  text-align: center;
  padding: 5px;
}

.preview img {
  border-radius: 5px;
}

.preview h2 {
  font-size: 12pt;
}

.name {
  font-weight: bold;
}
