.scanVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - env(safe-area-inset-bottom, 0px) - 56px);
  object-fit: cover;
}

.scanCanvas {
  display: none;
}

.legend {
  position: fixed;
  top: 80%;
  left: 50%;
  padding: 10px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
