.previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.preview {
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: calc(33% - 20px);
}

.preview img {
  border-radius: 5px;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 0.9em;
}
